<input type="text" ng-model="myQue.data.question" placeholder="Enter your question here" >
<br>
<label>Select Question Type</label>
<select ng-model="myQue.data.type">
<option value="text">Text</option>
<option value="values">Values</option>
</select>
<br>
<input ng-if='myQue.data.type != "text"' type="text" ng-model="myQue.data.values" placeholder="Enter your Values here">
<br>
<button ng-click = 'myQue.saveQuestion()'>Save</button>