
<table border="1">
<tr>
<td>ID</td><td>Value</td>
</tr>
<tr ng-repeat="item in tList.items" ng-if='tList.currentId == item.id || tList.showAll'>
<td >{{item.id}}</td>
<td>{{item.value}}</td>
</tr>
</table>

<input ng-model="tList.showAll" type="checkbox" >show all