<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Survey App Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Survey App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/user-answers.csv" class="btn btn-default navbar-btn pull-right" download>Export CSV</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div style="padding-top: 70px">

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Time</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Gender</th>
                    <th>Frame</th>
                    <th>Dairy Consumption</th>
                    <th>Meat Consumption</th>
                    <th>Wheat Consumption</th>
                    <th>Vegetables Consumption</th>
                    <th>Fruits Consumption</th>
                    <th>Water Consumption</th>
                    <th>Diseases</th>
                    <th>Diseases History</th>
                    <th>Medicines</th>
                    <th>Sleep Hours</th>
                    <th>Exercise</th>
                    <th>Exercise Intensity</th>
                    <th>Smoke</th>
                    <th>Result URL</th>
                </tr>
            <% users.forEach(function(user) { %>
                <tr>
                    <td> <%= user.name %> </td>
                    <td> <%= user.email %> </td>
                    <td> <%= user._id.getTimestamp() %></td>
                    <td> <%= user.age %> </td>
                    <td> <%= user.weight %> </td>
                    <td> <%= user.height_f %>ft <%= user.height_i %>inches </td>
                    <td> <%= user.gender %> </td>
                    <td> <%= user.frame %> </td>
                    <td> <%= user.dairy %> </td>
                    <td> <%= user.meat %> </td>
                    <td> <%= user.wheat %> </td>
                    <td> <%= user.vegetables %> </td>
                    <td> <%= user.fruits %> </td>
                    <td> <%= user.water %> </td>
                    <td> <%= user.diseases %> </td>
                    <td> <%= user.diseasesHistory %> </td>
                    <td> <%= user.medicines %> </td>
                    <td> <%= user.sleep %> </td>
                    <td> <%= user.exercise %> </td>
                    <td><%= user.exercise_intensity %></td>
                    <td> <%= user.smoke %> </td>
                    <td> <a target="_blank" href="<%= global.resultsPage + user.id %>"><%= global.resultsPage + user.id %></a></td>

                </tr>
            <% }); %>
            </table>

        </div>
    </div>

</div>

</body>
</html>