<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Survey App Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Survey App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
    <form action="dashboard" method="post">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>
</body>
</html>