@-ms-viewport{
  width: device-width;
}
@font-face {
  font-family: 'neris';
  src: url('font/neris.thin.otf'); /* IE9 Compat Modes */
  src: url('font/neris.thin.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.thin.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.thin.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.thin.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.thin.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'neris-black';
  src: url('font/neris.black.otf'); /* IE9 Compat Modes */
  src: url('font/neris.black.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.black.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.black.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.black.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.black.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'neris-semibold';
  src: url('font/neris.semibold.otf'); /* IE9 Compat Modes */
  src: url('font/neris.semibold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.semibold.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.semibold.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.semibold.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.semibold.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
  background:#f6fff1;
}
#main-page {
	font-family: neris;
	background: #f6fff1;
	overflow: hidden;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		transition: all 0.5s linear;
}
.scroll-buttons{
	padding: 1.75%;
	cursor: pointer;
}
.scroll-buttons > div {
    background: #7dc855;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin: 5px;
    padding: 5px 10px;
}

.bottom-bar {
	background: #eeeeee none repeat scroll 0 0;
    color: #999999;
    font-weight: bold;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: none;
}
.nerisFamily{
  font-family : neris-semibold;
  font-size : 32px;
}
.bottom-bar-transition {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.bottom-bar h5{
	font-weight: bold;
}
.progressBar{
	background: #dddddd none repeat scroll 0 0;
    border-radius: 10px;
    height: 12px;
    margin: 10px 0;
    position: relative;
    width: 75%;
}
.progressed{
	background: #7dc855 none repeat scroll 0 0;
    border-radius: 10px 0 0 10px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5.5%;
}

.summary-section h4{
  color: #38aace;
  font-weight: bold;
  font-size: 26px;
}
.summary-section p{
  color: #91bb1e
}
.summary-detail h5{
  font-weight: bold;
}
.summary-detail,.summary-detail p{
  color:#38aace;
}
.man-image{
  background: rgba(0, 0, 0, 0) url("img/man-image.png") no-repeat scroll center center;
  min-height: 590px;
}
.woman-image{
  background: rgba(0, 0, 0, 0) url("img/woman-image.png") no-repeat scroll center center;
  min-height: 650px;
  background-size:auto;
}
.stats-section .row{
  margin: 75px 0;
}
.stats-section p{
  color: #91bb1e
}
.pie-title{
  color: #38aace !important;
  text-align: center;
}

// --

.summary-detail img,.stats-section img{
    height: 80px;
    padding: 15px;
    transform: rotate(180deg);
    width: 80px;
}
#bmi{
  left: 0;
  top: 105px;
}
#bmi .label{
  transform:rotate(180deg);
  padding: 27px;
  border-color: #fff;
  color:#fff;
}

.pie-title.bmi-title {
    margin-top: 110px;
    color: #fff !important;
}

.desc-text{
  color: #55b7d3 !important;
}

.myScore{
  color: #ffa201 !important;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  max-width: 255px;
  margin: 0 auto;
}
.gauge-container{
  position:relative;
}
.border{
  border: 1px solid #e6e6e6;
    border-radius: 90px;
    height: 132px;
    left: 22%;
    position: absolute;
    top: 11%;
    width: 138px;
}
.overallScore{
  color: #38aace !important;
    font-size: 21px;
    margin-top: 20px;
    text-align: center;
}

.arrow-up {
  border-bottom: 5px solid #f65d49;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    margin-top: -10px;
    width: 0;
}


.main-container{
  display: flex;
  justify-content: center;
}
.error{
    background: #f65d49 none repeat scroll 0 0;
    border: 1px solid #f65d49;
    color: #fff !important;
    float: left;
    opacity: 0;
    padding: 5px 0;
    text-align: center;
    width: 50%;
    margin-top: 5px;
    display:none;
}
.suggestions {
  margin:0 auto;
}
.suggestions.row {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px;
    padding-bottom: 30px;
}
.item{
  text-align:center;
  width: 170px;
}
.item img{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfde;
    border-radius: 5px;
    padding: 5px 16%;
}
.item p{
  color:#38abcf;
}

.woman-image #bmi{
  top: 120px;

}

.woman-image .pie-title.bmi-title{
 margin-top: 125px;

}
.social{
  text-align:center;
}

.social ul{
  margin: 0 auto;
    width: 290px;
}
.social h5{
  color:#91bb1e;
  font-size:18px

}
.social li{
  float: left;
    list-style: outside none none;
    margin: 10px 5px;
}

.scroll-buttons{
  padding: 2%;
  }
  
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .gauge-container .border {
    left: 25%;
  }
  .myScore {
    margin-left: 0;
    margin-right: -30px;
  }
}
