<div class="content-wrapper min-width">
	<div class="scroll-area">
		<div id="main-page" step-scrolling>
			<div class="full-screen welcome text-center">
				<div class="center-row">
					<img src="img/apple-icon.png">

					<!-- TODO: take false out -->
					<div ng-show="myQue.showLogin" >
						<div class="login center">
							<p>Please Enter Username and Password</p>
							<input type="text" id="em" name="em" placeholder="Username">
							<input type="password" id="pas" name="pas" placeholder="Password">
							<p class="question_error_valid error">Invalid Username or Password</p>
							<button type="submit" class="fill-button" ng-click="myQue.userValidate()">LOGIN</button>
						</div>
					</div>

					<!-- TODO: take true out -->
					<div ng-show="myQue.showGreeting">
						<div class="headings">
							<p class="text-left lead no-margin-bottom">HEALTH AND NUTRITION SURVEY</p>
							<h1>How Healthy Are You?</h1>
							<p class="lead">Let's Get Started With Your Assessment</p>
							<button class="next-question fill-button">GET STARTED</button>
						</div>
					</div>
				</div>
			</div>

			<form name="form" novalidate>
				<div class="container">

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-6 vcenter">
								<h3 class="green">
									1. What's your name?
								</h3>
								<div class="custom-input image">
									<input name="name" type="text" autocomplete="off" ng-model='myQue.basicInfo.name' class="question_1" autocomplete="off" ng-focus="hideUser = true">
									<img src="img/user-icon.png" ng-show="!hideUser || !myQue.basicInfo.name">
									<span class="question_error_1 error">Please enter your name</span>
								</div>
								<button class="next-question ok-button" ng-class="{invisible: !myQue.basicInfo.name}">OK</button>
							</div><!--
					 --><div class="col-xs-6 vcenter">
								<img src="img/question/name.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-6 vcenter">
								<h3 class="green">
									2. Whats your email address?
									<p class="small">Make sure it's the one that you check often.</p>
								</h3>
								<div class="custom-input image">
									<input type="email" ng-model='myQue.basicInfo.email' class="question_2" name="emailAddress" ng-focus="hideMail = true">
									<img src="img/email-icon.png" ng-show="!hideMail">
									<span class="question_error_2 error">Please enter a valid email address</span>
								</div>
								<button class="next-question ok-button" ng-class="{invisible: !myQue.basicInfo.email}">OK</button>
							</div><!--
					 --><div class="col-xs-6 vcenter">
								<img src="img/question/email.jpg" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="center-row">
							<h3 class="green">
								3. How old are you?
							</h3>
							<div class="row">
								<div class="col-xs-3 col-md-2" ng-repeat="n in myQue.age" ng-class="{'margin-top-20-md': $last}">
									<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.age == n.label}" ng-click="animateMe($event)">
										<label for="age_{{n.label}}" toggle-active>
											<p>{{n.label}}</p>
											<span>{{n.text}}</span>
										</label>
										<input id="age_{{n.label}}" value="{{n.label}}" type="radio" name="age" ng-model='myQue.basicInfo.age' class="question_3">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="center-row">
							<h3 class="green">
								<b>4. Whats your gender?</b>
							</h3>
							<div class="row">
								<div class="col-xs-3 col-md-2" ng-repeat="n in myQue.gender">
									<div class="label-custom" ng-class="{active: myQue.basicInfo.gender == n}" ng-click="animateMe($event)">
										<label toggle-active for="gender_{{n}}">
											<img src="img/blueWhite/{{n}}.png" ng-if="myQue.basicInfo.gender != n">
											<img src="img/blueWhite/{{n}}_active.png" ng-if="myQue.basicInfo.gender == n">
											<p>{{n}}</p>
										</label>
										<input id="gender_{{n}}" value="{{n}}" type="radio" name="gender" ng-model='myQue.basicInfo.gender' class="question_4">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-6 vcenter">
								<h3 class="green">
									<b>5. What is your weight in Kgs?</b>
								</h3>
								<div class="custom-input image">
									<input name="weight" type="text" autocomplete="off" ng-model='myQue.basicInfo.weight' class="question_5" ng-focus="showWeight = true">
									<img src="img/kg.png" ng-show="!showWeight || !myQue.basicInfo.weight">
									<span class="question_error_5 error">Please enter a numeric value</span>
								</div>
								<button class="next-question ok-button" ng-class="{invisible: !myQue.basicInfo.weight}">OK</button>
							</div><!--
					 --><div class="col-xs-6 vcenter">
								<img src="img/question/weight.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter">
								<h3 class="green">
									<b>6. What is your height?</b>
								</h3>
								<div class="row">
									<div class="col-xs-6">
										<div class="custom-input with-label">
											<input type="text" autocomplete="off" ng-model='myQue.basicInfo.height_f' name="height_f" class="question_6">
											<div class="input-label">ft</div>
											<span class="question_error_6_ft error">Please enter a valid height between 2 and 8 ft</span>
										</div>
									</div>
									<div class="col-xs-6">
										<div class="custom-input with-label">
											<input type="text" autocomplete="off" ng-model='myQue.basicInfo.height_i' name="height_i" class="question_6">
											<div class="input-label">inches</div>
											<span class="question_error_6_ft error">Please enter a valid height between 0 and 11 inches</span>
										</div>
									</div>
								</div>
								<button class="next-question ok-button" ng-class="{invisible: !myQue.basicInfo.height_f || !myQue.basicInfo.height_i}">OK</button>
							</div><!--
					 --><div class="col-xs-offset-1 col-xs-2 vcenter">
								<img src="img/question/height.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="center-row">
							<div class="row">
								<div class="col-xs-8 vcenter">
									<h3 class="green">
										<b>7. What’s your body type?</b>
									</h3>
									<div class="row">
										<div class="col-xs-4 col-md-3" ng-repeat="n in myQue.frame">
											<div class="label-custom" ng-class="{active: myQue.basicInfo.frame == n}" ng-click="animateMe($event)">
												<label toggle-active for="frame_{{n}}">
													<p>{{n}}</p>
												</label>
												<input id="frame_{{n}}" value="{{n}}" type="radio" name="frame" ng-model='myQue.basicInfo.frame' class="question_7">
											</div>
										</div>
									</div>
								</div><!--
						 --><div class="col-xs-4 vcenter">
									<img src="img/question/body.jpg" class="img-responsive center">
								</div>
							</div>
						</div>
					</div>
					<!-- EATING PATTERN PAGE -->

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter question" ng-class="{one: !myQue.dairyShow, two: myQue.dairyShow}">
								<h3 class="green">
									<b>8. Do you consume milk and dairy products daily?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.dairy && myQue.basicInfo.dairy != 'no'}">
											<label for="dairy_bool_1" ng-click="myQue.setBoolVal('dairyShow', true)" toggle-active-for-bool>
												<img src="img/blueWhite/milk.png" ng-if="!myQue.basicInfo.dairy || myQue.basicInfo.dairy == 'no'">
												<img src="img/blueWhite/milk_active.png" ng-if="myQue.basicInfo.dairy && myQue.basicInfo.dairy != 'no'">
												<p>Yes</p>
											</label>
											<input type="radio" name="dairy_bool" id="dairy_bool_1" value="yes" ng-model='myQue.basicInfo.dairy' class="question_8">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.dairy == 'no'}" ng-click="animateMe($event)">
											<label for="dairy_bool_2" ng-click="myQue.setBoolVal('dairyShow', false)" toggle-active-for-bool>
												<img src="img/blueWhite/no-milk.png" ng-if="myQue.basicInfo.dairy !== 'no'">
												<img src="img/blueWhite/no-milk_active.png" ng-if="myQue.basicInfo.dairy === 'no'">
												<p>No</p>
											</label>
											<input type="radio" name="dairy_bool" id="dairy_bool_2" value="no" ng-model='myQue.basicInfo.dairy' class="question_8">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.dairyShow">
									<h4 class="green">
										How much milk and dairy products do you consume daily?
										<p class="small">(1 glass of milk = 1 serving, 1 cup of yogurt = 1 serving, 1 cheese slice=1 serving)</p>
									</h4>
									<div class="row">
										<div class="col-xs-4 col-md-3" ng-repeat="n in myQue.dairy">
											<div class="label-custom" ng-class="{active: myQue.basicInfo.dairy == n.label}" ng-click="animateMe($event)">
												<label for="dairy_{{n.label}}" toggle-active>
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="dairy_{{n.label}}" value="{{n.label}}" type="radio" name="dairy" ng-model='myQue.basicInfo.dairy' class="question_8">
											</div>
										</div>
									</div>
								</div>
							</div><!--
					 --><div class="col-xs-4 vcenter">
								<img class="img-responsive" src="img/question/milk.jpg">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 question" ng-class="{one: !myQue.meatShow, two: myQue.meatShow}">
								<h3 class="green">
									<b>9. Do you consume Meat and its product daily?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.meat && myQue.basicInfo.meat != 'no'}">
											<label ng-click="myQue.setBoolVal('meatShow',true)" toggle-active-for-bool for="meat_bool_1">
												<img src="img/blueWhite/meat.png" ng-if="!myQue.basicInfo.meat || myQue.basicInfo.meat == 'no'">
												<img src="img/blueWhite/meat_active.png" ng-if="myQue.basicInfo.meat && myQue.basicInfo.meat != 'no'">
												<p>Yes</p>
											</label>
											<input id="meat_bool_1" value="yes" ng-model='myQue.basicInfo.meat' type="radio" name="meat_bool" class="question_9">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.meat == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('meatShow',false)" toggle-active-for-bool for="meat_bool_2">
												<img src="img/blueWhite/no-meat.png" ng-if="myQue.basicInfo.meat !== 'no'">
												<img src="img/blueWhite/no-meat_active.png" ng-if="myQue.basicInfo.meat === 'no'">
												<p>No</p>
											</label>
											<input id="meat_bool_2" value="no" type="radio" name="meat_bool" ng-model='myQue.basicInfo.meat' class="question_9">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.meatShow">
									<h4 class="green">
										How much do you consume meat and its products daily?
										<p class="small">(2 ounces of meat = 1 serving, 1 egg = 1 serving, 2 Shami kabab = 1 serving, 1 chappli kabab = 1 serving)</p>
									</h4>
									<div class="row">
										<div ng-repeat="n in myQue.meat" class="col-xs-4 col-md-3">
											<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.meat == n.label}" ng-click="animateMe($event)">
												<label toggle-active for="meat_{{n.label}}">
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="meat_{{n.label}}" value="{{n.label}}" type="radio" name="meat" ng-model='myQue.basicInfo.meat' class="question_9">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<img src="img/question/meat.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 question" ng-class="{one: !myQue.wheatShow, two: myQue.wheatShow}">
								<h3 class="green">
									10. Do you consume wheat and cereal products daily?
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.wheat && myQue.basicInfo.wheat != 'no'}">
											<label ng-click="myQue.setBoolVal('wheatShow', true)" toggle-active-for-bool for="wheat_bool_1">
												<img src="img/blueWhite/wheat.png" ng-if="!myQue.basicInfo.wheat || myQue.basicInfo.wheat == 'no'">
												<img src="img/blueWhite/wheat_active.png" ng-if="myQue.basicInfo.wheat && myQue.basicInfo.wheat != 'no'">
												<p>Yes</p>
											</label>
											<input id="wheat_bool_1" ng-model='myQue.basicInfo.wheat' value="yes" type="radio" name="wheat_bool" class="question_10">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.wheat == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('wheatShow', false)" toggle-active-for-bool for="wheat_bool_2">
												<img src="img/blueWhite/no-wheat.png" ng-if="myQue.basicInfo.wheat !== 'no'">
												<img src="img/blueWhite/no-wheat_active.png" ng-if="myQue.basicInfo.wheat === 'no'">
												<p>No</p>
											</label>
											<input id="wheat_bool_2" value="no" type="radio" name="wheat_bool" ng-model='myQue.basicInfo.wheat' class="question_10">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.wheatShow">
									<h4 class="green">
										How much do you consume Wheat and Cereal Products daily?
										<p class="small">(1 chapati = 2 serving, 1 bowl of cereal = 1 serving, 1 slice of bread = 1 serving, 1/2 cup cooked rice, pasta, Noodles, barley = 1 serving)</p>
									</h4>
									<div class="row">
										<div class="col-xs-4 col-md-3" ng-repeat="n in myQue.wheat">
											<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.wheat == n.label}" ng-click="animateMe($event)">
												<label toggle-active for="wheat_{{n.label}}">
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="wheat_{{n.label}}" value="{{n.label}}" type="radio" name="wheat" ng-model='myQue.basicInfo.wheat' class="question_10">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<img src="img/question/wheat.jpg" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 question" ng-class="{one: !myQue.vegetablesShow, two: myQue.vegetablesShow}">
								<h3 class="green">
									11. Do you consume Vegetables daily?
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.vegetables && myQue.basicInfo.vegetables != 'no'}">
											<label ng-click="myQue.setBoolVal('vegetablesShow',true)" toggle-active-for-bool for="vegetables_bool_1">
												<img src="img/blueWhite/vegetables.png" ng-if="!myQue.basicInfo.vegetables || myQue.basicInfo.vegetables == 'no'">
												<img src="img/blueWhite/vegetables_active.png" ng-if="myQue.basicInfo.vegetables && myQue.basicInfo.vegetables != 'no'">
												<p>Yes</p>
											</label>
											<input id="vegetables_bool_1" value="yes" type="radio" name="vegetables_bool" ng-model='myQue.basicInfo.vegetables' class="question_11">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.vegetables == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('vegetablesShow',false)" toggle-active-for-bool for="vegetables_bool_2">
												<img src="img/blueWhite/no-vegetables.png" ng-if="myQue.basicInfo.vegetables !== 'no'">
												<img src="img/blueWhite/no-vegetables_active.png" ng-if=" myQue.basicInfo.vegetables === 'no'">
													<p>No</p>
											</label>
											<input id="vegetables_bool_2" value="no" type="radio" name="vegetables_bool" ng-model='myQue.basicInfo.vegetables' class="question_11">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.vegetablesShow">
									<h4 class="green">
										How much do you consume Vegetables daily?
										<p class="small">(1 cup raw salad = 1 serving, 1/2 cup cooked vegetables, 1/2 cup sweet corn = 1 serving, 1/2 midum potato or starchy vegetable = 1 serving)</p>
									</h4>
									<div class="row">
										<div ng-repeat="n in myQue.vegetables" class="col-xs-4 col-md-3">
											<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.vegetables == n.label}" ng-click="animateMe($event)">
												<label toggle-active for="vegetables_{{n.label}}">
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="vegetables_{{n.label}}" value="{{n.label}}" type="radio" name="vegetables" ng-model='myQue.basicInfo.vegetables' class="question_11">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<img src="img/question/vegetable.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 question" ng-class="{one: !myQue.fruitsShow, two: myQue.fruitsShow}">
								<h3 class="green">
									<b>12. Do you consume Fruits daily?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.fruits && myQue.basicInfo.fruits != 'no'}">
											<label ng-click="myQue.setBoolVal('fruitsShow',true)" toggle-active-for-bool for="fruits_bool_1">
												<img src="img/blueWhite/fruits.png" ng-if="!myQue.basicInfo.fruits || myQue.basicInfo.fruits == 'no'">
												<img src="img/blueWhite/fruits_active.png" ng-if="myQue.basicInfo.fruits && myQue.basicInfo.fruits != 'no'">
												<p>Yes</p>
											</label>
											<input id="fruits_bool_1" ng-model='myQue.basicInfo.fruits' value="yes" type="radio" name="fruits_bool" class="question_12">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.fruits == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('fruitsShow',false)" toggle-active-for-bool for="fruits_bool_2">
												<img src="img/blueWhite/no-fruits.png" ng-if="myQue.basicInfo.fruits !== 'no'">
												<img src="img/blueWhite/no-fruits_active.png" ng-if="myQue.basicInfo.fruits === 'no'">
												<p>No</p>
											</label>
											<input id="fruits_bool_2" value="no" type="radio" name="fruits_bool" ng-model='myQue.basicInfo.fruits' class="question_12">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.fruitsShow">
									<h4 class="green">
										How much do you consume Fruits daily?
										<p class="small">(1 medium Apple, Banana, Pear or Orange = 1 serving, 2 small appricots, Kiwi fruits or Plum = 1 serving, 1 cup of diced or canned fruits(no sugar) = 1 serving)</p>
									</h4>
									<div class="row">
										<div ng-repeat="n in myQue.fruits" class="col-xs-4 col-md-3">
											<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.fruits == n.label}" ng-click="animateMe($event)">
												<label toggle-active for="fruits_{{n.label}}">
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="fruits_{{n.label}}" value="{{n.label}}" type="radio" name="fruits" ng-model='myQue.basicInfo.fruits' class="question_12">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<img src="img/question/fruit.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter question" ng-class="{one: !myQue.waterShow, two: myQue.waterShow}">
								<h3 class="green">
									<b>13. Do you hydrate yourself with water daily?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.water && myQue.basicInfo.water != 'no'}">
											<label ng-click="myQue.setBoolVal('waterShow',true)" toggle-active-for-bool for="water_bool_1">
												<img src="img/blueWhite/water.png" ng-if="!myQue.basicInfo.water || myQue.basicInfo.water == 'no'">
												<img src="img/blueWhite/water_active.png" ng-if="myQue.basicInfo.water && myQue.basicInfo.water != 'no'">
												<p>Yes</p>
											</label>
											<input id="water_bool_1" ng-model='myQue.basicInfo.water' value="yes" type="radio" name="water_bool" class="question_13">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.water == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('waterShow',false)" toggle-active-for-bool for="water_bool_2">
												<img src="img/blueWhite/no-water.png" ng-if="myQue.basicInfo.water !== 'no'">
												<img src="img/blueWhite/no-water_active.png" ng-if="myQue.basicInfo.water === 'no'">
												<p>No</p>
											</label>
											<input id="water_bool_2" value="no" type="radio" name="water_bool" ng-model='myQue.basicInfo.water' class="question_13">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.waterShow">
									<h4 class="green">
										How much water do you drink daily?
									</h4>
									<div class="row">
										<div ng-repeat="n in myQue.water" class="col-xs-4 col-md-3">
											<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.water == n.label}" ng-click="animateMe($event)">
												<label toggle-active for="water_{{n.label}}">
													<p>{{n.label}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="water_{{n.label}}" value="{{n.label}}" type="radio" name="water" ng-model='myQue.basicInfo.water' class="question_13">
											</div>
										</div>
									</div>
								</div>
							</div><!--
					--><div class="col-xs-4 vcenter">
								<img src="img/question/water.jpg" class="img-responsive center">
							</div>
						</div>
					</div>

					<!-- MEDICAL HISTORY PAGE -->
					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter question" ng-class="{one: !myQue.diseasesShow, two: myQue.diseasesShow}">
								<h3 class="green">
									<b>14. Are you suffering from any Ailments/Diseases?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: (myQue.basicInfo.diseases || myQue.basicInfo.diseases === '' || myQue.basicInfo.diseases === null) && myQue.basicInfo.diseases != 'no'}">
											<label ng-click="myQue.setBoolVal('diseasesShow',true)" toggle-active-for-bool for="diseases_bool_1">
												<img src="img/blueWhite/sad-face.png" ng-if="(myQue.basicInfo.diseases == 'no' || !myQue.basicInfo.diseases) && myQue.basicInfo.diseases !== ''">
												<img src="img/blueWhite/sad-face_active.png" ng-if="(myQue.basicInfo.diseases || myQue.basicInfo.diseases === '' || myQue.basicInfo.diseases === null) && myQue.basicInfo.diseases != 'no'">
												<p>Yes</p>
											</label>
											<input id="diseases_bool_1" value="" type="radio" name="diseases_bool" ng-model="myQue.basicInfo.diseases" class="question_14">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.diseases == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('diseasesShow',false)" toggle-active-for-bool for="diseases_bool_2">
												<img src="img/blueWhite/smile.png" ng-if="myQue.basicInfo.diseases !== 'no'">
												<img src="img/blueWhite/smile_active.png" ng-if="myQue.basicInfo.diseases == 'no'">
												<p>No</p>
											</label>
											<input id="diseases_bool_2" value="no" type="radio" ng-model="myQue.basicInfo.diseases" name="diseases_bool" class="question_14">
										</div>
									</div>
								</div>
								<div class="second-question" ng-show="myQue.diseasesShow">
									<h4 class="green">
										Select Disease
									</h4>
									<div class="row">
										<div class="col-xs-10 col-md-8">
											<select class="question_14 custom-select margin-bottom-20" ng-options="disease for disease in myQue.diseases" ng-model='myQue.basicInfo.diseases'>
												<option value=""></option>
											</select>
											<button class="next-question ok-button" ng-class="{invisible: !myQue.basicInfo.diseases}">OK</button>
										</div>
									</div>
								</div>
							</div><!--
					 --><div class="col-xs-4 vcenter">
								<img src="img/question/ailments.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter question" ng-class="{one: !myQue.medicinesShow, two: myQue.medicinesShow}">
								<h3 class="green">
									<b>15. Any Medicines?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.medicines == 'yes'}">
											<label ng-click="myQue.setBoolVal('medicinesShow',true)" toggle-active-for-bool for="medicines_bool_1">
												<img src="img/blueWhite/medican.png" ng-if="!myQue.basicInfo.medicines || myQue.basicInfo.medicines == 'no'">
												<img src="img/blueWhite/medican_active.png" ng-if="myQue.basicInfo.medicines == 'yes'">
												<p>Yes</p>
											</label>
											<input optional='true' id="medicines_bool_1" value="yes" ng-model="myQue.basicInfo.medicines" type="radio" name="medicines_bool" class="question_15">
										</div>
									</div>
									<div class="col-xs-4 col-md-3">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.medicines == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('medicinesShow',false)" toggle-active-for-bool for="medicines_bool_2">
												<img src="img/blueWhite/no-medican.png" ng-if="myQue.basicInfo.medicines != 'no'">
												<img src="img/blueWhite/no-medican_active.png" ng-if="myQue.basicInfo.medicines == 'no'">
												<p>No</p>
											</label>
											<input optional='true' id="medicines_bool_2" ng-model="myQue.basicInfo.medicines" value="no" type="radio" name="medicines_bool" class="question_15">
										</div>
									</div>
								</div>
								<div class="second-question" ng-show="myQue.medicinesShow">
									<h4 class="green">
										Do you want to mention it?
									</h4>
									<div class="row">
										<div class="col-xs-10 col-md-8">
											<div class="custom-input">
												<input type="text" autocomplete="off" ng-model="myQue.basicInfo.medicinesMention" optional='true' class="question_15">
											</div>
											<button class="next-question ok-button">OK</button>
										</div>
									</div>
								</div>
							</div><!--
					 --><div class="col-xs-4 vcenter">
								<img src="img/question/medicine.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-12 vcenter question" ng-class="{one: !myQue.diseasesHistoryShow, two: myQue.diseasesHistoryShow}">
								<h3 class="green">
									<b>16. Any family history of diseases?</b>
								</h3>
								<div class="row">
									<div class="col-xs-3 col-md-2">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.diseasesHistory == 'yes'}">
											<label ng-click="myQue.setBoolVal('diseasesHistoryShow',true)" toggle-active-for-bool for="diseasesHistory_bool_1">
												<img src="img/blueWhite/family_yes1.png" ng-if="!myQue.basicInfo.diseasesHistory || myQue.basicInfo.diseasesHistory == 'no'">
												<img src="img/blueWhite/family_yes1_active.png" ng-if="myQue.basicInfo.diseasesHistory == 'yes'">
												<p>Yes</p>
											</label>
											<input id="diseasesHistory_bool_1" value="yes" ng-model="myQue.basicInfo.diseasesHistory" type="radio" name="diseasesHistory_bool" class="question_16">
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.diseasesHistory == 'no'}" ng-click="animateMe($event)">
											<label ng-click="myQue.setBoolVal('diseasesHistoryShow',false)" toggle-active-for-bool for="diseasesHistory_bool_2">
												<img src="img/blueWhite/family_no1.png" ng-if="myQue.basicInfo.diseasesHistory != 'no'">
												<img src="img/blueWhite/family_no1_active.png" ng-if="myQue.basicInfo.diseasesHistory == 'no'">
												<p>No</p>
											</label>
											<input id="diseasesHistory_bool_2" ng-model="myQue.basicInfo.diseasesHistory" value="no" type="radio" name="diseasesHistory_bool" class="question_16">
										</div>
									</div>
								</div>
								<div class="second-question" ng-show="myQue.diseasesHistoryShow">
									<h4 class="green">Do you want to mention it?</h4>
									<div class="row">
										<div class="col-xs-6">
											<div class="custom-input">
												<input type="text" autocomplete="off" ng-model="myQue.basicInfo.diseasesHistoryMention" class="question_16" class="question_16">
											</div>
											<button class="next-question ok-button">OK</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- OTHER LIFE STYLE PAGE -->
					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter">
								<h3 class="green">
									<b>17. How many hours do you sleep at night?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3" ng-repeat="n in myQue.sleep">
										<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.sleep == n.label}" ng-click="animateMe($event)">
											<label toggle-active class="next-radio" for="sleep_{{n.label}}">
												<p>{{n.label}}</p>
												<span>{{n.text}}</span>
											</label>
											<input id="sleep_{{n.label}}" value="{{n.label}}" type="radio" name="sleep" ng-model='myQue.basicInfo.sleep' class="question_17">
										</div>
									</div>
								</div>
							</div><!--
					 --><div class="col-xs-4 vcenter">
								<img src="img/question/sleep.png" class="img-responsive center">
							</div>
						</div>
					</div>

					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-8 vcenter question" ng-class="{one: !myQue.exerciseShow, two: myQue.exerciseShow}">
								<h3 class="green">
									<b>18. How much do you exercise a week?</b>
								</h3>
								<div class="row">
									<div class="col-xs-4 col-md-3" ng-repeat="n in myQue.exercise">
										<div class="label-custom extra-padding" ng-class="{active: myQue.basicInfo.exercise == n.label}">
											<label ng-click="myQue.setBoolVal('exerciseShow',true)" toggle-active-for-bool class="next-radio" for="sleep_{{n.label}}">
												<p>{{n.label}}</p>
												<span>{{n.text}}</span>
											</label>
											<input id="sleep_{{n.label}}" value="{{n.label}}" type="radio" name="exercise" ng-model='myQue.basicInfo.exercise' class="question_18">
										</div>
									</div>
								</div>
								<div class="second-question" ng-if="myQue.exerciseShow">
									<h4 class="green">
										Exercise Intensity?
									</h4>
									<div class="row">
										<div ng-repeat="n in myQue.exercise_intensity" ng-class="{'margin-top-20-md': $last}" class="col-xs-4 col-md-3">
											<div class="label-custom extra-padding" ng-class="{active:myQue.basicInfo.exercise_intensity == n}" ng-click="animateMe($event)">
												<label toggle-active for="exercise_intensity_{{n}}">
													<p>{{n}}</p>
													<span>{{n.text}}</span>
												</label>
												<input id="exercise_intensity_{{n}}" value="{{n}}" type="radio" name="exercise_intensity" ng-model='myQue.basicInfo.exercise_intensity' class="question_18">
											</div>
										</div>
									</div>
								</div>
							</div><!--
					 --><div class="col-xs-4 vcenter">
								<img src="img/question/exercise.png" class="img-responsive center">
							</div>
						</div>
					</div>
					<div class="full-screen">
						<div class="row center-row">
							<div class="col-xs-12 vcenter">
								<h3 class="green">
									<b>19. Do you smoke?</b>
								</h3>
								<div class="row">
									<div class="col-xs-3 col-md-2">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.smoke == 'yes'}" ng-click="animateMe($event)">
											<label toggle-active for="smoke_1">
												<img src="img/blueWhite/smoking.png" ng-if="myQue.basicInfo.smoke !== 'yes'">
												<img src="img/blueWhite/smoking_active.png" ng-if="myQue.basicInfo.smoke == 'yes'">
												<p>Yes</p>
											</label>
											<input id="smoke_1" ng-click="myQue.saveAll()" value="yes" type="radio" name="smoke" ng-model='myQue.basicInfo.smoke' class="question_20">
										</div>
									</div>
									<div class="col-xs-3 col-md-2">
										<div class="label-custom" ng-class="{active: myQue.basicInfo.smoke == 'no'}" ng-click="animateMe($event)">
											<label toggle-active for="smoke_2">
												<img src="img/blueWhite/no-smoking.png" ng-if="myQue.basicInfo.smoke !== 'no'">
												<img src="img/blueWhite/no-smoking_active.png" ng-if="myQue.basicInfo.smoke == 'no'">
												<p>No</p>
											</label>
											<input id="smoke_2" ng-click="myQue.saveAll()" value="no" type="radio" name="smoke" ng-model='myQue.basicInfo.smoke' class="question_20">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="container-fluid bottom-bar-dummy"></div>
	<div class="container-fluid bottom-bar">
		<div class="row ">
			<div class="col-xs-10">
				<h5>Tell Us About Yourself</h5>
				<p style="font-size: 12px;">2 out of 19 Questions</p>
				<div class="progressBar">
					<div class="progressed"></div>
				</div>
			</div>
			<div class="col-md-2 col-xs-2 scroll-buttons">
				<div class="scroll-up" ><span class="glyphicon glyphicon-chevron-up"></span></div>
				<div class="scroll-down"  ><span class="glyphicon glyphicon-chevron-down"></span></div>
			</div>
		</div>
	</div>
</div>
