<div class="container min-width">
	<div class="row summary-section" style="padding-top: 20px">
		<div class="col-md-8 col-xs-8">
			<h4>Summary</h4>
			<p id="score-text"
               class="col-md-10 col-xs-10 font-16"
               style="padding-left: 0; padding-top: 5px">
                {{scoreText}}
            </p>

			<div class="col-md-6 col-xs-6 summary-detail" style="padding-top: 10px">
				<div class="col-md-5 ">
					<div class="pie-wrapper " id="smoke" >
						<span class="label"><img src="img/no-smoke.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<h5>Smoking</h5>
					<p id="smoke-text" class="desc-text"></p>
				</div>
			</div>

			<div class="col-md-6 col-xs-6 summary-detail" style="padding-top: 10px">
				<div class="col-md-5">
					<div class="pie-wrapper"  id="diseases" >
						<span class="label"><img src="img/health.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<h5>Health</h5>
					<p id="diseases-text" class="desc-text"></p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-4">
			<div class="gauge-container">
				<div class="border"></div>
				<canvas set-gauge id="my-gauge"></canvas>
				<span class="gauge-val gauge-min-val">0</span>
				<span class="gauge-val gauge-max-val">100</span>
				<p class="myScore score-margin" ng-class="{'warning-score' : warning, 'danger-score' : danger, 'success-score' : success }">{{totalScore}}</p>
				<p class="overallScore score-margin score-label-margin" >Your Wellness Score</p>
			</div>
		</div>
	</div>
	<div class="row stats-section">
		<div class="col-md-5 col-sm-4 col-xs-4 text-right">
			<div class="row">
				<div class="col-md-5 visible-xs-block visible-sm-block">
					<div class="pie-wrapper" id="meat">
						<span class="label"><img src="img/protien.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Proteins</p>
				</div>
				<div class="col-md-7">
					<div class="row" style="margin: 0px !important">
						<div class="col-md-12">
							<p id="meat-text"  class="desc-text">It is recommended to include 2 - 3 servings of protein which includes Meats, Fish, Poultry products or other products with protection. </p>
						</div>
						<!-- <div class="row">
						  <div class="col-sm-4 col-md-4 pull-right thumbnail-list" ng-repeat='img in wheatImgs'>
                              <a href="#">
                                  <img src="{{img.url}}">
                                  <span>{{img.text}}</span>
                                  <button class="btn btn-success btn-sm buy">Buy Now</button>
                              </a>
                          </div>
						</div> -->
					</div>
				</div>
				<div class="col-md-5 visible-md-block visible-lg-block">
					<div class="pie-wrapper" id="meat-re">
						<span class="label"><img src="img/protien.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Proteins</p>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-5 visible-xs-block visible-sm-block">
					<div class="pie-wrapper " id="dairy" >
						<span class="label"><img src="img/dairy.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Dairy</p>
				</div>
				<div class="col-md-7">

					<div class="row" style="margin : 0px !important">
						<p id="dairy-text"  class="desc-text">Moderation is the Name of the Game. It is recommended to use 1 -2 servings of dairy products like Nestle Milkpak, Nesvita, Nestle yougurt in your diet to maintain a healthy lifestyle.</p>
					</div>
					<div class="row" style="margin: 0px 0px !important">
					  <div class="col-sm-4 col-md-4 pull-right thumbnail-list" ng-repeat='img in dairyImgs'>
                          <a href="#">
							  <div class="grow">
								  <img src="{{img.url}}">
							  </div>
							  <!-- <button class="btn btn-success btn-sm buy">Buy Now</button> -->
                              <span>{{img.text}}</span>
                          </a>
					  </div>

					</div>
				</div>
				<div class="col-md-5 visible-md-block visible-lg-block">
					<div class="pie-wrapper " id="dairy-re" >
						<span class="label"><img src="img/dairy.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Dairy</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 visible-xs-block visible-sm-block">
					<div class="pie-wrapper " id="fruits" >
						<span class="label"><img src="img/fruits-image.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Fruits</p>
				</div>
				<div class="col-md-7">
					<p id="fruits-text"  class="desc-text">Although fruits are a good source of minerals, vitamins and fibre but they are also rich in simple sugars which help the body in getting its energy intake.</p>
				</div>
				<div class="col-md-5 visible-md-block visible-lg-block">
					<div class="pie-wrapper " id="fruits-re" >
						<span class="label"><img src="img/fruits-image.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Fruits</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 visible-xs-block visible-sm-block">
					<div class="pie-wrapper " id="wheat" >
						<span class="label"><img src="img/carbs.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Carbs</p>
				</div>
				<div class="col-md-7">
					<div class="row" style="margin: 0px !important">
						<div class="col-md-12">
							<p id="wheat-text"  class="desc-text">It is recommended that to include 6 -11 servings of Grains in your diet as it provides instant energy and fibre for proper bowel movement and a healthy lifestyle. </p>
						</div>
						<div class="row">
						  <div class="col-sm-4 col-md-4 pull-right thumbnail-list" ng-repeat='img in wheatImgs'>
                              <a href="#">
								  <div class="grow">
									  <img src="{{img.url}}">
								  </div>
                                  <span>{{img.text}}</span>
                                  <!-- <button class="btn btn-success btn-sm buy">Buy Now</button> -->
                              </a>
                          </div>
						</div>
					</div>
				</div>
				<div class="col-md-5 visible-md-block visible-lg-block">
					<div class="pie-wrapper " id="wheat-re" >
						<span class="label"><img src="img/carbs.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Carbs</p>
				</div>
			</div>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-4" id="gender" style='margin-top: 6.3%'>
			<div class="pie-wrapper-bmi" id="bmi" >
				<span class="label">
					<span style="margin-left: -36%">
						{{bmi}}
					</span>
				</span>
				<div class="pie">
					<div class="left-side half-circle"></div>
					<div class="right-side half-circle"></div>
				</div>
			</div>
			<p class="pie-title bmi-title">BMI</p>
			<p></p>
		</div>
		<div class="col-md-5 col-sm-4 col-xs-4">
			<div class="row">
				<div class="col-md-5">
					<div class="pie-wrapper " id="sleep" >
						<span class="label"><img src="img/sleep.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Sleep</p>
				</div>
				<div class="col-md-7">
					<p id="sleep-text"  class="desc-text">You are sleep deprived. Too little sleep not only affect you phically but also psychologically.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="pie-wrapper" id="vegetables" >
						<span class="label"><img src="img/veges.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Vegetables</p>
				</div>
				<div class="col-md-7">
					<p id="vegetables-text"  class="desc-text">It is recommended to in include as much green vegetables as possible as they are a rich source of minerals and fibre which help in maintaining the mind, heart and almost all the major organs. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="pie-wrapper " id="water" >
						<span class="label"><img src="img/water-image.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Water</p>
				</div>
				<div class="col-md-7">
					<div class="row" style="margin: 0px !important">
						<div class="col-md-12" style="padding-left: 0px">
							<p id="water-text"  class="desc-text">Water is the building block for life and healthy lifestyle. It is recommended to take at least 8 glasses of water a day and more.</p>
						</div>

						<div class="row" style="margin:0px !important">
						  <div class="col-sm-4 col-md-4 thumbnail-list" ng-repeat='img in waterImgs'>
                              <a href="#">
								  <div class="grow">
									  <img src="{{img.url}}">
								  </div>
                                  <span>{{img.text}}</span>
                                  <!-- <button class="btn btn-success btn-sm buy">Buy Now</button> -->
                              </a>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<div class="pie-wrapper " id="exercise" >
						<span class="label"><img src="img/exercise.png"></span>
						<div class="pie">
						  <div class="left-side half-circle"></div>
						  <div class="right-side half-circle"></div>
						</div>
					</div>
					<p class="pie-title">Exercise</p>
				</div>
				<div class="col-md-7">
					<p id="exercise-text"  class="desc-text">Its time to start a little bit of exercise. Exercise not only help you physically but also psychologically</p>
					<p>
						<a href="#" ng-show="showExpert" style="font-size: 1.6em; color :#7dc855; font-family: neris-semibold;" class="expert"><img src="img/mail.png"> <span style="font-size: 20px; font-family: neris-semibold;">Talk to </span> Fitness Expert</a>
					</p>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<button type="button" class='btn btn-md custom-button-1 footer-button pull-right' name="button">
				<span style=" font-family : neris-semibold; font-size: 16px; padding : 16px 48px">Buy Now</span>
			</button>
		</div>
		<div class="col-sm-6">
			<button type="button" class='btn btn-md custom-button-1 footer-button' name="button2">
				<span>Find a Nearby Store</span>
			</button>
		</div>
	</div>
	<div class="row share-background">
		<div class="col-md-12 text-center" style="padding-bottom: 12px;">
			<h5 class="social">Share Socially</h5>
		</div>
		<div class="col-md-12 text-center" style="padding-bottom: 12px;">
			<a href="{{facebookShare}}" target="_blank" style="margin-right: 10px"><img src="img/fb-social.jpg"></a>
			<a href="{{twitterShare}}" target="_blank" style="margin-right: 10px"><img src="img/twitter-social.jpg"></a>
			<a href="{{emailShare}}"><img src="img/email-social.jpg"></a>
		</div>
	</div>
	<div class="row" style="margin: 85px 0px">
		<div class="col-md-5" >
			<div class="pull-right">
				<div class="main-survey-link">
					<a href="">
						<img src="img/nutritionist.png">
					</a>
				</div>
				<div class="main-survey-link">
					<div class="survey-link" style="color: #999999; font-size: 20px; margin-top: -19px">
						Talk To
					</div>
					<div class="survey-link" style="color: #7dc855; font-size: 24px;">
						Nutritionist
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-offset-2 col-md-5">
			<div class="pull-left">
				<div class="main-survey-link">
					<a href="#/survey" retake-survey>
						<img src="img/back_to_survey.png">
					</a>
				</div>
				<div class="main-survey-link">
					<div class="survey-link" style="color: #999999; font-size: 20px;">
						Retake
					</div>
					<div class="survey-link" style="color: #7dc855; font-size: 24px;">
						Survey
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
