body {
  height: 100%;
}

.content-wrapper {
  position: relative;
  .scroll-area {
    overflow: hidden;
  }
  .bottom-bar {
  	background: #eeeeee;
    color: #999999;
    font-weight: bold;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
  }
  .bottom-bar-dummy {
    height: 80px;
    background-color: #38abce;
  }
}

.question {
  transition: max-height 0.5s;
  &.one {
    max-height: 300px;
  }
  &.two {
    max-height: 600px;
  }
}
