@-ms-viewport{
  width: device-width;
}
@font-face {
  font-family: 'neris';
  src: url('font/neris.thin.otf'); /* IE9 Compat Modes */
  src: url('font/neris.thin.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.thin.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.thin.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.thin.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.thin.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'neris-black';
  src: url('font/neris.black.otf'); /* IE9 Compat Modes */
  src: url('font/neris.black.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.black.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.black.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.black.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.black.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'neris-semibold';
  src: url('font/neris.semibold.otf'); /* IE9 Compat Modes */
  src: url('font/neris.semibold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/neris.semibold.otf') format('woff2'), /* Super Modern Browsers */
       url('font/neris.semibold.otf') format('woff'), /* Pretty Modern Browsers */
       url('font/neris.semibold.otf')  format('truetype'), /* Safari, Android, iOS */
       url('font/neris.semibold.otfg#svgFontName') format('svg'); /* Legacy iOS */
}
body{
  background:#f6fff1;
}
#main-page {
	font-family: neris;
	background: #f6fff1;
	overflow: hidden;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		-ms-transition: all 0.5s linear;
		transition: all 0.5s linear;
}
.scroll-buttons{
	padding: 1.75%;
	cursor: pointer;
}
.scroll-buttons > div {
    background: #7dc855;
    border-radius: 5px;
    color: #fff;
    float: left;
    margin: 5px;
    padding: 5px 10px;
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.9, 1.9);
}
.g-score {
    color: #ffa201 !important;
}
.danger-score {
    color: #f65d49 !important;
}
.success-score {
    color: #41d041 !important;
}
.nerisFamily{
  font-family : neris-semibold;
  font-size : 32px;
}
.progressBar{
	background: #dddddd none repeat scroll 0 0;
    border-radius: 10px;
    height: 12px;
    margin: 10px 0;
    position: relative;
    width: 75%;
}
.progressed{
	background: #7dc855 none repeat scroll 0 0;
    border-radius: 10px 0 0 10px;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5.5%;
}

.summary-section h4{
  color: #38aace;
  font-weight: bold;
  font-size: 26px;
}
.summary-section p{
  color: #91bb1e
}
.summary-detail h5{
  font-weight: bold;
}
.summary-detail,.summary-detail p{
  color:#38aace;
}
.share-background{
  background-color : white;
  margin-top: 85px;
  margin-bottom:10px;
}
.gauge-val {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black !important;
    margin-top: -50px;
}
.gauge-min-val {
    float: left;
    padding-left: 10%;
}
.gauge-max-val {
    float: right;
    padding-right: 22%;
}
.man-image{
  background: rgba(0, 0, 0, 0) url("img/man-image.png") no-repeat scroll center center;
  min-height: 590px;
}
.main-survey-link{
  display: table-cell;
  vertical-align: middle;
}
.survey-link{
    margin-left: 15px;
    font-family: neris-semibold;
}
.woman-image{
  background: rgba(0, 0, 0, 0) url("img/woman-image.png") no-repeat scroll center center;
  min-height: 650px;
  background-size:auto;
}
.stats-section .row{
  margin: 75px 0;
}
.stats-section p{
  color: #91bb1e
}
.pie-title{
  color: #38aace !important;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

// --

.summary-detail img,.stats-section img{
    height: 100px;
    padding: 15px;
    transform: rotate(180deg);
    width: 100px;
}
#bmi{
  left: 0;
  top: 105px;
}
#bmi .label{
  transform:rotate(180deg);
  padding: 27px;
  border-color: #fff;
  color:#fff;
}

.pie-title.bmi-title {
    margin-top: 110px;
    color: #fff !important;
}

.desc-text{
  color: #55b7d3 !important;
}

.myScore{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  max-width: 255px;
  margin: auto;
  margin-left: -25px;
}


.gauge-container{
  position: relative;
  max-width: 250px;
  margin: -15px 0 auto;
}
.border{
  border: 1px solid #e6e6e6;
  border-radius: 100px;
  height: 200px;
  position: absolute;
  top: 11%;
  width: 207px;
  z-index: -99;
}
.overallScore{
  color: #38aace !important;
    font-size: 21px;
    margin-top: 50px;
    text-align: center;
  margin-left: -45px;
}

.main-container{
  display: flex;
  justify-content: center;
}
.suggestions {
  margin:0 auto;
}
.suggestions.row {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 22px;
    padding-bottom: 30px;
}
.item{
  text-align:center;
  width: 170px;
}
.item img{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfde;
    border-radius: 5px;
    padding: 5px 16%;
}
.item p{
  color:#38abcf;
}

.woman-image #bmi{
  top: 120px;

}

.woman-image .pie-title.bmi-title{
 margin-top: 125px;

}
.social{
  color : #91bb1e;
  font-size:18px
}

.social ul{
  margin: 0 auto;
    width: 290px;
}
.social h5{
  color:#91bb1e;
  font-size:18px

}
.social li{
  float: left;
    list-style: outside none none;
    margin: 10px 5px;
}
.custom-button-1{
    border: 2px solid #7ec855;
    color: #7ec855;
    background: transparent;
}
.custom-button-1:hover{
    border: 2px solid #7ec855 !important;
    color: white !important;
    background: #7ec855 !important;
}
.custom-button-1:focus{
    border: 2px solid #7ec855 !important;
    color: #7ec855 !important;
    background: transparent !important;
}
.custom-button-2 {
    color: #fff;
    background-color: #7ec855;
    border-color: #7ec855;
}
.custom-button-2:hover {
    color: #fff !important;
    background-color: #7ec855 !important;
    border-color: #7ec855 !important;
}
.custom-button-2:focus {
    color: #fff !important;
    background-color: #7ec855 !important;
    border-color: #7ec855 !important;
}
.scroll-buttons{
  padding: 2%;
  }

.font-16 {
  font-size: 16px;
}

.expert img {
  transform: none;
  width: 80px;
  height: 59px;
  margin-right: 10px;
  margin-top: 2px;
  float: left;
  padding: 0px;
}

.expert span {
  color: #999999;
  display: block;
}
.warning-score {
  color: #f6ed36 !important;
}
.danger-score {
  color: #f65d49 !important;
}
.success-score {
  color: #41d041 !important;
}
.expert {
  color: inherit;
  margin-top: 20px;
  display: block;
}

.expert:hover {
  text-decoration: none;
  color: inherit;
}

.thumbnail-list {
  padding-left: 0px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-weight: normal;
}

.thumbnail-list img {
  transform: none;
  height: 55px;
  width: 55px;
  padding: 0px;
  border: 1px solid #ddd;
}

.thumbnail-list .buy {

  display: none;
  position: absolute;
  left: 2px;
  top: 18px;
  padding: 2px;
  font-size: 10px;
  background-color: #91bb1e;
}

.thumbnail-list:hover .buy {
  display: block;
}

.thumbnail-list li {
  float: left;
  margin-left: 10px;
}
.footer-button{
    padding: 14px 17px;
    border-radius: 6px;
    font-family: neris-semibold;
}
.thumbnail-list li:last-child {
  float: left;
  margin-left: 0px;
}

button.fill-button:hover {
  color: #38abce;
  background-color: #fff;
}

#my-gauge {
  margin-left: -46px;
  margin-top: 4px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .gauge-container .border {
    left: 10%;
  }
  .myScore {
    margin-left: 40px;
    font-size: 40px;
  }

  .overallScore{
    color: #38aace !important;
    font-size: 21px;
    margin-top: 50px;
    text-align: center;
    margin-left: 25px;
  }

  #my-gauge {
    margin-left: -24px;
    margin-top: 2px;
  }
.gauge-min-val{
    padding-left: 20%;
}
.gauge-max-val{
    padding-right: 3%;
}
}

.compress-column {
  margin-left: -30px;
  margin-right: -30px;
}
