.custom-select {
  border: 1px dashed #dddddd;
  border-radius: 0;
  box-shadow: none;
  font-family: neris-semibold;
  color: #7dc855;
  font-size: 20px;
  height: 50px;
  width: 100%;
  background: transparent;
}

.label-custom {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px dashed #dddddd;
  color: #51b7d7;
  text-align: center;
  height: 210px;
  width: 100%;
  display: table;
  &.active {
    background: #7dc855 url("img/active-label.jpg") no-repeat scroll right top / 40px auto;
    border: 1px solid #e0e0e0;
    color: #fff;
  }
  label {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
    width: 100%;
    p {
      font-family: neris-semibold;
      font-size: 20px;
      margin-bottom: 0;
    }
    span {
      font-size: 15px;
    }
  }
  input {
    display: none;
  }
}

.second-question .label-custom {
  height: 175px;
}

.ok-button {
  background: #7dc855 none repeat scroll 0 0;
  border: medium none;
  border-radius: 5px;
  clear: both;
  color: #fff;
  float: left;
  font-family: neris-semibold;
  font-weight: bold;
  padding: 8px 60px;
}

.custom-input {
  margin-bottom: 30px;
  overflow: auto;
  > input {
    font-family: neris-semibold;
    color: #7dc855;
    width: 100%;
    font-size: 26px;
    padding: 10px;
    background: transparent;
    outline: none;
    border: 1px dashed #dddddd;
    border-radius: 0;
    box-shadow: none;
  }
  .error {
    position: relative;
    display: none;
    background-color: transparent;
    color: #f65d49;
    padding: 5px 0;
    text-align: center;
    width: 50%;
    margin-top: 9px;
    border: 1px solid #f65d49;
    border-radius: 5px;
    float: left;
    &:before {
      content: " ";
      position: absolute;
      top: -5px;
      left: 10px;
      border-bottom: 5px solid #f65d49;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  .input-label {
    font-family: neris-semibold;
    font-size: 20px;
    background: #f6f6f6;
    color: #7dc855;
    font-weight: bold;
    border: 1px dashed #dddddd;
    text-align: center;
    line-height: 57px;
  }
  &.image {
    position: relative;
    > img {
      position: absolute;
      top: 15px;
      left: 10px;
    }
  }
  &.with-label {
    input {
      width: 70%;
      float: left;
    }
    .input-label {
      width: 30%;
      float: left;
    }
  }
}
