.welcome {
  background-color: #38abce;
  color: #fff;
  .headings {
    margin-top: 40px;
    display: inline-block;
  }
  .login {
    margin-top: 40px;
    width: 275px;
    .error {
      display: none;
      background: #f65d49;
      padding: 5px;
    }
  }
  button {
    border: 1px solid #fff;
    padding: 8px 50px;
    background: transparent;
    border-radius: 20px;
  }
  input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #1a1a1a;
  }
}
