.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    /* background-color: #fff; */
    border : none;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.full-screen {
  position: relative;
}
.center-row {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.second-question {
  margin-top: 60px;
}
.center {
  margin: 0 auto;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.no-margin-bottom {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 992px){
  .margin-top-20-md {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .min-width {
    width: 700px;
  }
}

.btn-primary {
    color: #fff;
    background-color: #3fadd0;
    border-color: #3499b9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2c8ba9;
    border-color: #2c8ba9;
}