@graphGreen: #41d041;
@graphYellow: #f6ed36;
@graphOrange: #ffa201;
@graphRed: #f65d49;

.draw-progress(@progress, @color) when (@progress <= 50) {
  .pie {
    .right-side {
      display: none;
    }
  }
}

.draw-progress(@progress, @color) when (@progress > 50) {
  .pie {
    clip: rect(auto, auto, auto, auto);

    .right-side {
      transform: rotate(184deg);
      -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    }
  }
}

.draw-progress(@progress, @color) {
  .pie {
    .half-circle {
      border-color: @color;
    }

    .left-side {
      @rotate: @progress * 3.6;
      transform: rotate(~'@{rotate}deg');
      -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    }
  }
}

.draw-progress--solid(@progress, @color, @bg) when (@progress <= 50) {
  &:before {
    background: @bg;
    transform: rotate((100 - (50 - @progress)) / 100 * 360deg * -1);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}

.draw-progress--solid(@progress, @color, @bg) when (@progress > 50) {
  &:before {
    background: @color;
    transform: rotate((100 - @progress) / 100 * 360deg);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}

.draw-progress--solid(@progress, @color, @bg) {
  background: linear-gradient(to right, @color 50%, @bg 50%);
}


.size(@w, @h) {
  height: @h;
  width: @w;
}

@bg: #34495e;
@size: 8.5em;
@sizebmi: 6em;

.pie-wrapper {
  .size(@size, @size);
  margin: 0 auto;
   transform: rotate(180deg);
  position: relative;

  &:nth-child(3n+1) {
    clear: both;
  }

  .pie {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: 10px solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .pie {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: 10px solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    @font-size: @size / 4;
    @font-size-redo: @size * 4;

     border: 3px solid #69b3be;
    border-radius: 50%;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: @font-size;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 2px;
    padding: 5px 4px;
    width: 116px !important;
    height: 116px;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    .size(100%, 100%);
    border: @size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }
  &.progress-bmi-1 {
    .draw-progress(25, @graphYellow);
  }
  &.progress-bmi-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-bmi-3 {
    .draw-progress(75, @graphOrange);
  }
  &.progress-bmi-4 {
    .draw-progress(100, @graphRed);
  }

  &.progress-meat-1 {
    .draw-progress(25, @graphYellow);
  }
  &.progress-meat-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-meat-3 {
    .draw-progress(75, @graphOrange);
  }
  &.progress-meat-4 {
    .draw-progress(99, @graphRed);
  }

  &.progress-dairy-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-dairy-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-dairy-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-dairy-4 {
    .draw-progress(99, @graphOrange);
  }

  &.progress-wheat-1 {
    .draw-progress(25, @graphRed);
  }

  &.progress-wheat-1 {
    .draw-progress(25, @graphRed);
  }

  &.progress-wheat-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-wheat-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-wheat-4 {
    .draw-progress(99, @graphOrange);
  }

  &.progress-veges-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-veges-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-veges-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-veges-4 {
    .draw-progress(99, @graphOrange);
  }

  &.progress-fruits-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-fruits-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-fruits-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-fruits-4 {
    .draw-progress(99, @graphOrange);
  }

  &.progress-water-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-water-2 {
    .draw-progress(50, @graphOrange);
  }
  &.progress-water-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-water-4 {
    .draw-progress(99, @graphGreen);
  }

  &.progress-smoke-1 {
    .draw-progress(50, @graphRed);
  }
  &.progress-smoke-2 {
    .draw-progress(99, @graphGreen);
  }

  &.progress-diseases-1 {
    .draw-progress(50, @graphRed);
  }
  &.progress-diseases-2 {
    .draw-progress(99, @graphGreen);
  }
  &.progress-diseases-3 {
    .draw-progress(99, @graphYellow);
  }
  &.progress-sleep-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-sleep-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-sleep-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-sleep-4 {
    .draw-progress(99, @graphOrange);
  }

  &.progress-exercise-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-exercise-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-exercise-3 {
    .draw-progress(99, @graphGreen);
  }
  &.progress-exercise-4 {
    .draw-progress(99, @graphGreen);
  }


}


.pie-wrapper-bmi {
  .size(@sizebmi, @sizebmi);
  margin: 0 auto;
   transform: rotate(180deg);
  position: relative;

  &:nth-child(3n+1) {
    clear: both;
  }

  .pie {
    .size(100%, 100%);
    clip: rect(0, @sizebmi, @sizebmi, @sizebmi / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: 8px solid #3498db;
      border-radius: 50%;
      clip: rect(0, @sizebmi / 2, @sizebmi, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .pie {
    .size(100%, 100%);
    clip: rect(0, @sizebmi, @sizebmi, @sizebmi / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      .size(100%, 100%);
      border: 8px solid #3498db;
      border-radius: 50%;
      clip: rect(0, @sizebmi / 2, @sizebmi, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    @font-size: @sizebmi / 4;
    @font-size-redo: @sizebmi * 4;

     border: 3px solid #69b3be;
    border-radius: 50%;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: @font-size;
    left: 1px;
    position: absolute;
    text-align: center;
    top: 2px;
    padding: 5px 4px;
    width: 83px !important;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    .size(100%, 100%);
    border: @sizebmi / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }
  &.progress-bmi-1 {
    .draw-progress(25, @graphYellow);
  }
  &.progress-bmi-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-bmi-3 {
    .draw-progress(75, @graphOrange);
  }
  &.progress-bmi-4 {
    .draw-progress(100, @graphRed);
  }

  &.progress-meat-1 {
    .draw-progress(25, @graphYellow);
  }
  &.progress-meat-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-meat-3 {
    .draw-progress(75, @graphOrange);
  }
  &.progress-meat-4 {
    .draw-progress(100, @graphRed);
  }

  &.progress-dairy-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-dairy-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-dairy-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-dairy-4 {
    .draw-progress(100, @graphOrange);
  }

  &.progress-wheat-1 {
    .draw-progress(25, @graphRed);
  }

  &.progress-wheat-1 {
    .draw-progress(25, @graphRed);
  }

  &.progress-wheat-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-wheat-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-wheat-4 {
    .draw-progress(100, @graphOrange);
  }

  &.progress-veges-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-veges-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-veges-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-veges-4 {
    .draw-progress(100, @graphOrange);
  }

  &.progress-fruits-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-fruits-2 {
    .draw-progress(50, @graphGreen);
  }
  &.progress-fruits-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-fruits-4 {
    .draw-progress(100, @graphOrange);
  }

  &.progress-water-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-water-2 {
    .draw-progress(50, @graphOrange);
  }
  &.progress-water-3 {
    .draw-progress(75, @graphYellow);
  }
  &.progress-water-4 {
    .draw-progress(100, @graphGreen);
  }

  &.progress-smoke-1 {
    .draw-progress(50, @graphRed);
  }
  &.progress-smoke-2 {
    .draw-progress(100, @graphGreen);
  }

  &.progress-diseases-1 {
    .draw-progress(50, @graphRed);
  }
  &.progress-diseases-2 {
    .draw-progress(100, @graphGreen);
  }

  &.progress-sleep-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-sleep-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-sleep-3 {
    .draw-progress(75, @graphGreen);
  }
  &.progress-sleep-4 {
    .draw-progress(100, @graphOrange);
  }

  &.progress-exercise-1 {
    .draw-progress(25, @graphRed);
  }
  &.progress-exercise-2 {
    .draw-progress(50, @graphYellow);
  }
  &.progress-exercise-3 {
    .draw-progress(100, @graphGreen);
  }
  &.progress-exercise-4 {
    .draw-progress(100, @graphGreen);
  }
}
