h1, h2, h3, h4, h5, h6 {
  font-family: neris-semibold;
}
h1 {
  font-size: 64px;
  font-weight: 900;
  margin: 0 0 20px 0;
}
h3 {
  font-size: 32px;
  margin: 0 0 40px 0;
}
h3 .small, h4 .small {
  font-family: neris;
  font-size: 16px;
  font-style: italic;
  color: #999999;
  margin-top: 20px;
}
h4 {
  font-size: 24px;
  margin: 0 0 30px 0;
}
h4 .small {
  margin-top: 10px;
}
h3.green {
  color: #7dc855;
}
h4.green {
  color: #7dc855;
}
h5 {
  font-size: 16px;
}
p.lead {
  font-size: 20px;
}
button {
  font-family: neris-semibold;
  letter-spacing: 2px;
}
